# Ignore macOS system files
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*Projects/Python/Machine_Learning_Projects/Iris_Flower_Classification/venv_1

# Rust
target/
Cargo.lock

# Node.js/JavaScript
node_modules/

# General editor files
.vscode/
.idea/
*.swp
